* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.primary_text {
    color: #e4b95b;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
}


/* start navbar */

header {
    height: 100vh;
    background-image: url('/img/bac.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}

#nav img {
    width: 80px;
    margin-left: 40px;
}

#nav {
    display: flex;
    justify-content: space-between;

}

#nav ul li {
    list-style: none;
    padding-top: 30px;

}

#nav a {
    text-decoration: none;
    margin-right: 100px;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

#nav ul {
    display: flex
}

#nav ul li a:hover {
    border-bottom: 2px solid #e4b95b;
}

header .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .container2 h1 {
    font-size: 40px;
    color: #fff;
}

header .container2 p {
    margin: 20px 0 40px 0;
    color: #fff;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.6);
}

header * {
    z-index: 10;
}

.primary_btn {
    color: #fff;
    border: 2px solid #e4b95b;
}

.button:hover {
    transform: scale(1.2, 1.2);
    background-color: #e4b95b;

}

.container {
    max-width: 1100px;
    margin: auto;
    /* display: flex; */
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#about .title {
    justify-content: center;
    margin: 4rem;
    text-align: center;
}

#about .title p {
    color: #9a9a9a;
    font-weight: 600;
}

#about h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383838;
}

#about img {
    width: 450px;
}

#about .about-content {
    display: flex;
    justify-content: center;
}

#about .about-content p {
    color: #9a9a9a;
    line-height: 2;
    font-weight: 500;
    margin-right: 7rem;
}

#about a {
    display: block;
    margin-top: -120px;
}

.secondry_btn {
    border: 1px solid #fff;
    background: #383848;
    width: 100px;
    color: #fff;
}

/* offer */

#offers {
    height: 80vh;
    display: flex;
    justify-content: center;
    background: url("/img/offer-background.jpg") center center / cover fixed;
}

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

#offers .title {
    justify-content: center;
    text-align: center;
    margin-bottom: 6rem;
}

#offers .title h2 {
    font-size: 50px;
    color: #e4b95b;
    margin-bottom: 2rem;
}

#offers .title p {
    color: #fff;
    font-size: large
}

#offers .offer img {
    width: 200px;
}

#offers .offer img:hover {
    transform: scale(1.2, 1.2);
    opacity: 50%;
    cursor: pointer;
}

#offers .offer h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offer p {
    padding: 0 20px;
    font-weight: 300;
}

#offers .offer span {
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
}

/* Menu Section Start */
#menu {
    background: #f4f2ed;
    padding: 5rem 0;
}

#menu .title h2 {
    color: #383848;
}

#menu .title p {
    color: #9a9a9a;
    font-weight: 500;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#menu .menu-items .menu-item img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
    height: 100x;
}

#menu .menu-items .menu-item h3 {
    color: #383848;
    border-bottom: 1px double #c2bdbd;
    padding-bottom: 10px;
    position: relative;
}

#menu .menu-items .menu-item span {
    position: absolute;
    right: 0px;
    top: 0;
}

#menu .menu-items .menu-item p {
    margin-top: 10px;
}

#menu .btn {
    display: block;
    margin: auto;
    border: none;
    margin-top: 30px;
    font-size: 20px;
}

#menu img:hover {
    transform: scale(1.2, 1.3);
}

#menu .button4 {
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 278px;
    color: #fff;
    background-color: #383838;
}



/* TIM  */

#time {
    height: 40vh;
    background-image: url("/img/daytime_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#time .container .time1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#time .container .time1 img {
    width: 150px;

}

#time .container .time1 .time2 {
    margin-right: 8rem;
}

#time .container .time1 .time2 div {
    justify-content: center;
    text-align: center;
    margin: 20px 0 0 0;
    line-height: 2rem;
    width: 100px;
    align-items: center;

}

#time .container .time1 .time2 div p,
h2 {
    color: #fff;
}

#time .container .time1 .time2 div p {
    font-size: 20px;
}
  

/* gallery */
#gallery {
    background-image: url("/img/offer-background.jpg")  ;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
#gallery .gall {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#gallery .gall h3 {
    font-size: 25px;
    color: #e4b95b;
    margin-bottom:-2rem;
    display: block;
    text-transform: uppercase;
}

#gallery img {
    width: 300px;
    height: 200px;
}

#gallery .top,.buttom {
    justify-content: center;
    display: flex;
    margin-right: 100px;

}

.galle div {
    margin-left: 10rem;
    margin-top: 4rem;
}


#contact {
    background: #f4f2ed;
    padding: 5rem 0;
  }
  
  #contact .container {
    max-width: 900px;
  }
  
  #contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #contact .contact-info {
    width: 50%;
  }
  
  #contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
  }
  
  #contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
  }
  
  #contact .contact-info p {
    color: #9a9a9a;
  }
  
  #contact .contact-info p i {
    color: #e4b95b;
    margin-right: 5px;
  }
  
  #contact .contact-info a i {
    color: #fff;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
  }
  
  #contact .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
  }
  
  form {
    width: 50%;
  }
  
  form input,
  textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
  }
  
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form button {
    color: #fff;
  }
  
